<div class="container-with-chat">


<div class="container ">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <center><img class="card-img-top" src="img/bonnie.png" alt="Card image cap"></center>
        <div class="card-block">
          <h4 class="card-title">Diseño</h4>
          <p class="card-text">Añade tus ideas para el diseño de tu aplicación.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li ng-repeat="task in tasks_design" class="list-group-item">{{task}}</li>
        </ul>
        <div class="card-block">
          <input type="text" class="form-control" ng-model="task.design" style="margin-bottom: 20px;">
          <button  class="btn btn-primary card-link" ng-click="addDesingTask()">Agregar</button>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-ml">
        <center><img class="card-img-top" src="img/flynn.png" alt="Card image cap"></center>
        <div class="card-block">
          <h4 class="card-title">Arquitectura</h4>
          <p class="card-text">Añade tus ideas para la arquitectura de tu aplicación.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li ng-repeat="task in tasks_architecture" class="list-group-item">{{task}}</li>
        </ul>
        <div class="card-block">
          <input type="text" class="form-control" ng-model="task.architecture" style="margin-bottom: 20px;">
          <button  class="btn btn-primary card-link" ng-click="addArchitectureTask()">Agregar</button>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card card-ml">
        <center><img class="card-img-top" src="img/jelly_bean.png" alt="Card image cap"></center>
        <div class="card-block">
          <h4 class="card-title">Test</h4>
          <p class="card-text">Añade tus ideas para los test de tu aplicación.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li ng-repeat="task in tasks_test" class="list-group-item">{{task}}</li>
        </ul>
        <div class="card-block">
          <input type="text" class="form-control" ng-model="task.test" style="margin-bottom: 20px;">
          <button  class="btn btn-primary card-link" ng-click="addTestTask()">Agregar</button>

        </div>
      </div>
    </div>

  </div>
</div>
<div class="chat">
  <div class="container">
    <div class="row">
      <ul>
        <li ng-repeat="customer in newCustomers">{{customer.name}}</li>
      </ul>
    </div>

    <div class="row">
      <label>Say hi!: </label>
          <input ng-model="currentCustomer.name"/>
          <button class="btn btn-primary" ng-click="join()">Join</button>
          <br/>

    </div>
  </div>
</div>
<script type="javascript/js"></script>
</div>
